<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio 2</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="projects/">Projects</a>
            <a href="contact/">Contact</a>
        </nav>
    </header>
    <main>
        <h1 class="projectsH1">My Projects</h1>
        <div class="containerColumn">
            <div class="p1">
                <img src="~/images/happy.png" alt="happy">
                <div class="text1">
                    <h2>Project 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum illo perspiciatis, at tenetur
                        explicabo optio tempore aut rem animi maiores est iste magni amet odit aperiam eveniet, ipsam
                        molestias? Labore!</p>
                </div>
            </div>
            <div class="p2">
                <img src="~/images/annoyed.png" alt="annoyed">
                <div class="text2">
                    <h2>Project 2</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim cum sed temporibus exercitationem
                        tempora ut sequi tenetur assumenda, voluptatibus deserunt? Iusto explicabo sit, eum molestias
                        inventore quos quo maxime fuga.</p>
                </div>
            </div>
            <div class="p3">
                <img src="~/images/awkward.png" alt="awkward">
                <div class="text3">
                    <h2>Project 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, possimus accusamus exercitationem
                        commodi ipsum cupiditate adipisci, consectetur laborum provident, repellat animi corrupti rerum
                        aliquid voluptates amet consequatur libero optio reprehenderit?</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
