@{
    ViewData["Title"] = "Date";
}
@model Form;


<div class="text-center">
    <h1 class="display-4">Date Validation</h1>
    <form action="/form/result" method="post">
        <section>
            <label asp-for="Date"></label>
            <input type="datetime-local" asp-for="Date">
            @* <input type="time"> *@
            <span asp-validation-for="Date"></span>

        </section>
        <button type="submit">Submit</button>
    </form>
</div>
