<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio 2</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1 class="mainH1">About Me</h1>
        <div class="mainRow">
            <div class="leftMiddleColumn">
                <img src="~/images/OctoCat.png" alt="OctoCat">
                <h2>Bobothy Jones</h2>
                <h2>I love to code!</h2>
            </div>
            <div class="rightColumnMain">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptas, quisquam nulla et delectus
                    enim beatae molestiae veritatis recusandae labore illum est saepe possimus porro odit, obcaecati
                    numquam consequuntur assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                    voluptas, quisquam nulla et delectus enim beatae molestiae veritatis recusandae labore illum est
                    saepe possimus porro odit, obcaecati numquam consequuntur assumenda.</p>
            </div>
        </div>
    </main>
</body>

</html>
