<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio 2</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <div class="mainColumn">
            <h1 class="contactH1">Contact Me!</h1>
            <div class="rowInput">
                <form>
                    <div class="name">
                        <label for="Name">Name</label>
                        <input type="text" id="name">
                    </div>
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="text" id="email">
                    </div>
                    <div class="messages">
                        <label for="message">Message</label>
                        <input type="text" id="message">
                    </div>
                </form>
                <button>Send</button>
            </div>
        </div>

    </main>
</body>

</html>
