<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>
    <h1>The current date & time is...</h1>
    <h2>@ViewBag.CurrentTime.ToString("MMMM") @ViewBag.CurrentTime.Day, @ViewBag.CurrentTime.Year</h2>
    <h3>@ViewBag.CurrentTime.ToString("h:mm tt")</h3>
</body>

</html>
